name: CI/Update

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * 3

jobs:
  package-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: set remote url
        run: git remote set-url --push origin https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
      - name: package-update
        uses: taichi/actions-package-update@master
        env:
          AUTHOR_EMAIL: ghustavh97@gmail.com
          AUTHOR_NAME: Ghustavh
          EXECUTE: "true"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LOG_LEVEL: debug
          SET_NODE_VERSION: 14
        with:
          args: -u --packageFile package.json --loglevel verbose
